.slide-in {
  opacity: 0;
  transition: opacity 200ms ease-in, transform 300ms ease-in;
}

.slide-in--left {
  transform: translateX(-50%);
}

.slide-in--right {
  transform: translateX(50%);
}

.slide-in.appear {
  opacity: 1;
  transform: translateX(0);
}
