.cards {
  gap: 1.5rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-image: radial-gradient(
      circle,
      var(--clr-accent-600) 0%,
      var(--clr-accent-300) 70%,
      hsla(0, 0%, 100%, 0) 96%
    )
    1;
}

.card:last-of-type {
  border: none;
}

.card__title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.65rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.card__img-container {
  flex-grow: 1;
  flex-basis: calc(100% / 2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__img {
  max-width: 420px;
  width: 85%;
  border-radius: 15px;
}

.card__content {
  flex-grow: 1;
  flex-basis: calc(100% / 2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__desc {
  font-size: 1.1rem;
}

.card__links {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 2rem;
  gap: 0.65rem;
}

.card__link {
  padding: 0.55em;
  border-radius: 15px;
  background: var(--clr-accent-600);
  color: var(--clr-neutral-900);
  text-decoration: none;
  text-align: center;

  transition: background-color 150ms ease-in, color 150ms ease-in;
}

.card__link:hover,
.card__link:focus {
  color: var(--clr-neutral-1000);
  background: var(--clr-accent-400);
}

.card__link:focus {
  outline: auto;
}

.card__link--two-col {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (min-width: 37em) {
  .card__body {
    flex-direction: column;
  }

  .card__img {
    width: 85%;
  }
}
@media only screen and (min-width: 56.26em) {
  .card__body {
    flex-direction: row;
  }

  .card__img {
    width: 95%;
  }
}
@media only screen and (min-width: 75em) {
  .card__body {
    flex-direction: row;
  }

  .card__img {
    width: 95%;
  }
}
@media only screen and (min-width: 112.5em) {
  .card__body {
    flex-direction: row;
  }

  .card__img {
    width: 90%;
  }
}
