.icons {
  gap: 2rem;
}

.icons__row {
  gap: 0.8rem;
}

.icons__item {
  position: relative;

  display: flex;
  flex-direction: column;

  transition: transform 200ms ease-in;
}

@keyframes titleslidein {
  0% {
    top: 50%;
    opacity: 0;
    font-size: 0;
  }
  30% {
    opacity: 0.85;
    font-size: 0.5rem;
  }
  100% {
    top: 100%;
    opacity: 1;
    font-size: 0.825rem;
  }
}

@keyframes titleslideout {
  0% {
    top: 100%;
    opacity: 1;
    font-size: 0.825rem;
  }
  70% {
    opacity: 0;
    font-size: 0.5rem;
  }
  100% {
    top: 50%;
    opacity: 0;
    font-size: 0;
  }
}

.icons__item:hover {
  z-index: 20;
  transform: scale(1.2);
}

.icons__item:hover > .icons__title,
.icons__item:focus > .icons__title {
  animation: titleslidein 250ms ease-out forwards;
}

.icons__item:focus {
  border-radius: 50%;
  outline: auto;
}

.icons__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  border-radius: 50%;

  width: 48px;
  height: 48px;
  background: var(--clr-primary-600);

  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.6);
}

.icons__logo {
  font-size: 0.5rem;
  width: 28px;
  height: 28px;
}

.icons__title {
  position: absolute;
  top: 50%;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-weight: 700;
  text-align: center;

  animation: titleslideout 250ms ease-out forwards;
}

@media only screen and (min-width: 37em) {
  .icons__row {
    gap: 1rem;
  }

  .icons__body {
    width: 64px;
    height: 64px;
  }

  .icons__logo {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (min-width: 56.26em) {
  .icons__row {
    gap: 2rem;
  }

  .icons__body {
    width: 80px;
    height: 80px;
  }

  .icons__logo {
    width: 46px;
    height: 46px;
  }
}
@media only screen and (min-width: 75em) {
  .icons__row {
    gap: 2rem;
  }

  .icons__body {
    width: 80px;
    height: 80px;
  }

  .icons__logo {
    width: 46px;
    height: 46px;
  }
}
@media only screen and (min-width: 112.5em) {
  .hi__name {
    font-size: 4.8rem;
  }

  .hi__title {
    font-size: 2.5rem;
  }

  .icons__row {
    gap: 2.25rem;
  }

  .icons__body {
    width: 86px;
    height: 86px;
  }

  .icons__logo {
    width: 48px;
    height: 48px;
  }
}
